body {
  padding-top: 5rem;
  margin: 5em;
  color: red;
  background: url(https://cdn.glitch.me/1de531f8-c064-422e-887b-4090d77eb7e7%2FIMG_6429.JPG?v=1636901964491) ; background-size: 100% 100%;

  
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
 
  
}
.nav-p{
  display:inline-block;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem;

  line-height:inherit;
  white-space:nowrap;
  color: blue;
  
}

